@page

@model RezerwacjaSal.Pages.AppUsers.CreateModel
@{
    ViewData["Title"] = "Create";
}

<body onload="automaticID()">
    <h3>Dodaj nową osobę: </h3>
    <h4>Numer @Model.FreeNumber</h4>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Rodzaj konta:</label>
                    <select asp-for="Input.RoleName" class="form-control" asp-items="ViewBag.RoleNames"> </select>
                </div>

                <div class="form-group">
                    <label asp-for="ApplicationUser.Email" class="control-label">Email (nazwa użytkownika):</label>
                    <input asp-for="ApplicationUser.Email" class="form-control" />
                    <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Hasło:</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Potwierdź hasło:</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.EmailConfirmed" type="checkbox" checked />
                    <span asp-validation-for="Input.EmailConfirmed" class="text-danger"></span>
                    <label class="form-check-label">Potwierdź email użytkownika</label>
                </div>
                <div class="form-group">
                    <input asp-for="Input.PhoneConfirmed" type="checkbox" checked />
                    <span asp-validation-for="Input.PhoneConfirmed" class="text-danger"></span>
                    <label class="form-check-label">Zatwierdź użytkownika</label>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.FirstName" class="control-label">Imię:</label>
                    <input asp-for="ApplicationUser.FirstName" class="form-control" />
                    <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.LastName" class="control-label">Nazwisko:</label>
                    <input asp-for="ApplicationUser.LastName" class="form-control" />
                    <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.PhoneNumber" class="control-label">*Telefon:</label>
                    <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                    <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                </div>
                <script>
                    function automaticID() {
                        var checker = document.getElementById("IDchecker").checked;
                        var id = document.getElementById('IDinput');
                        if (checker) {
                            id.style.display = 'none';

                        } else {
                            id.style.display = 'block';
                        }
                    }
                </script>
                <div class="form-group">
                    <label asp-for="ApplicationUser.DepartmentID" class="control-label">*Wydział:</label>
                    <select asp-for="ApplicationUser.DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"><option value=@null>Brak</option></select>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.Employment" class="control-label">*Pracownik:</label>
                    <input asp-for="ApplicationUser.Employment" class="form-control" />
                    <span asp-validation-for="ApplicationUser.Employment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.Note" class="control-label">*Dodatkowe informacje:</label>
                    <textarea asp-for="ApplicationUser.Note" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="ApplicationUser.Note" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a class="btn btn-default" asp-page="./Index" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Lista osób</a>
                    <input type="submit" value="Zapisz" class="btn btn-default btn-primary" />
                </div>
            </form>
        </div>
    </div>
    * Opcjonalne
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
