
@page 
@model RezerwacjaSal.Pages.AppUsers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Usuwanie</h3>

@*wiadomość w przypadku blędu usuwania*@ 
<p class="text-danger">@Model.ErrorMessage</p>

<h4>Czy jesteś pewien, że chcesz usunąć tą osobę?</h4>
<h5 style="color:red">Usunięcie tej osoby spowoduje też usunięcie wszystkich powiązanych z nią rezerwacji.</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numer:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Number)
        </dd>
        <dt>
            Imię:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            Nazwisko:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt>
            Pracownik:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Employee)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            Telefun:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Phone)
        </dd>
        <dt>
            Dodatkowe informacje:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Note)
        </dd>
        @if (Model.ApplicationUser.Employee)
        {
            <dt>
                Zatrudnienie:
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Pracuje w katedrze:</th>
                        <th>Jako:</th>
                    </tr>
                    @*dla każdego zatrudnienia*@
                    @foreach (var item in Model.ApplicationUser.Employments)
                    {
                        <tr>
                            <td>
                                @*podaje nazwę katedry w której pracuje pracownik*@
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
    <form method="post">
        <input type="hidden" asp-for="ApplicationUser.Id" />
        <a class="btn btn-default"asp-page="./Index" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Lista osób</a>
        <input type="submit" value="Usuń" class="btn btn-default btn-danger"  /> 
    </form>
</div>
