
@page

@model RezerwacjaSal.Pages.AppUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Szczegóły</h3>

<div>
    <h4>Dane tajnych współpracowników</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numer:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Number)
        </dd>
        <dt>
            Typ konta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            Imię:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            Nazwisko:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            Telefon:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
        <dt>
            Potwierdzony email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.EmailConfirmed)
        </dd>
        <dt>
            Zatwierdzone konto:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumberConfirmed)
        </dd>
        <dt>
            Pracownik:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Employment)
        </dd>
        <dt>
            Wydziału:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Department.Name)
        </dd>
        <dt>
            Dodatkowe informacje:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Note)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-default" asp-page="./Index" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Lista osób</a>
    <a class="btn btn-default btn-primary" asp-page="./Edit" asp-route-id="@Model.ApplicationUser.Id" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Edytuj</a>
    <a asp-page="./Delete" class="btn btn-default btn-danger" asp-route-id="@Model.ApplicationUser.Id" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Usuń</a>

</div>



