
@page

@model RezerwacjaSal.Pages.AppUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Szczegóły</h3>

<div>
    <h4>Dane tajnych współpracowników</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numer:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Number)
        </dd>
        <dt>
            Imię:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            Nazwisko:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt>
            Pracownik:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Employee)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            Telefun:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Phone)
        </dd>
        <dt>
            Dodatkowe informacje:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Note)
        </dd>
        @if (Model.ApplicationUser.Employee)
        {
            <dt>
                Zatrudnienie:
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Pracuje w katedrze:</th>
                        <th>Jako:</th>
                    </tr>
                    @*dla każdego zatrudnienia*@
                    @foreach (var item in Model.ApplicationUser.Employments)
                    {
                        <tr>
                            <td>
                                @*podaje nazwę katedry w której pracuje pracownik*@
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-page="./Index" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Lista osób</a>
    <a class="btn btn-default btn-primary" asp-page="./Edit" asp-route-id="@Model.ApplicationUser.Id" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Edytuj</a> 
</div>



