@page 
@model RezerwacjaSal.Pages.AppUsers.EditModel

@{
    ViewData["Title"] = "Edit";
}
<body onload="employeeChecked(),doubleEmployeeChecked()">
    <h3>Edycja osoby</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ApplicationUser.Id" />
                <div class="form-group">
                    <label asp-for="ApplicationUser.Number" class="control-label">Numer:</label>
                    <input asp-for="ApplicationUser.Number" class="form-control" />
                    <span class="text-danger">@Model.ErrorSameNumber</span>
                </div>
                <div class="form-group">

                    <label asp-for="ApplicationUser.FirstName" class="control-label">Imię:</label>
                    <input asp-for="ApplicationUser.FirstName" class="form-control" />
                    <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.LastName" class="control-label">Nazwisko:</label>
                    <input asp-for="ApplicationUser.LastName" class="form-control" />
                    <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.Email" class="control-label">Email:</label>
                    <input asp-for="ApplicationUser.Email" class="form-control" />
                    <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.Phone" class="control-label">Telefon:</label>
                    <input asp-for="ApplicationUser.Phone" class="form-control" />
                    <span asp-validation-for="ApplicationUser.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUser.Note" class="control-label">Dodatkowe informacje:</label>
                    <textarea asp-for="ApplicationUser.Note" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="ApplicationUser.Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ApplicationUser.Employee" type="checkbox" id="employeeChecker" onclick="employeeChecked()" />
                    <span asp-validation-for="ApplicationUser.Employee" class="text-danger"></span>
                    <label class="form-check-label">Pracownik</label>
                </div>
                <script>
                    function employeeChecked() {
                        var checker = document.getElementById("employeeChecker").checked;
                        var employment = document.getElementById('employment');
                        if (checker) {
                            employment.style.display = 'block';
                        } else {
                            employment.style.display = 'none';
                        }
                    }
                    function doubleEmployeeChecked() {
                        var checker = document.getElementById("doubleEmployeeChecker").checked;
                        var employment = document.getElementById('secondEmployment');
                        if (checker) {
                            employment.style.display = 'block';
                        } else {
                            employment.style.display = 'none';
                        }
                    }
                </script>

                <div id="employment" style="display:none">
                    <div class="form-group">
                        <label asp-for="FirstEmployment.Department" class="control-label">Wydział:</label>
                        <select asp-for="FirstEmployment.DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstEmployment.Position" class="control-label">Zatrudniony jako:</label>
                        <input asp-for="FirstEmployment.Position" class="form-control" />
                        <span asp-validation-for="FirstEmployment.Position" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="SecondEmploymentChecked" type="checkbox" id="doubleEmployeeChecker" onclick="doubleEmployeeChecked()" />
                        <label asp-for="SecondEmploymentChecked" class="form-check-label">Drugi etat</label>
                    </div>
                </div>
                <div id="secondEmployment" style="display:none">
                    <div class="form-group">
                        <label asp-for="SecondEmployment.Department" class="control-label">Wydział:</label>
                        <select asp-for="SecondEmployment.DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecondEmployment.Position" class="control-label">Zatrudniony jako:</label>
                        <input asp-for="SecondEmployment.Position" class="form-control" />
                        <span asp-validation-for="SecondEmployment.Position" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-default" asp-page="./Index" asp-route-sortOrder="@Model.SortOrderRoute" asp-route-currentFilter="@Model.CurrentFilterRoute" asp-route-searchString="@Model.SearchStringRoute" asp-route-pageIndex="@Model.PageIndexRoute" asp-route-pageSize="@Model.PageSizeRoute">Lista osób</a>
                    <input type="submit" value="Zapisz" class="btn btn-default btn-primary"  />
                </div>
            </form>
        </div>
    </div>
</body>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
