@page
@model RezerwacjaSal.Pages.Messages.ListModel

@{
    ViewData["Title"] = "HiddenList";
}

<h3>Lista ostatnich wiadomości</h3>
<h5>Liczba wiadomości: @Model.Messages.Count()</h5>
<h5>
    <a href="https://outlook.live.com/mail/inbox">Skrzynka email outlook</a>
</h5>
<p></p>
<form method="post">
    <input type="submit" value="Wyczyść" class="btn btn-default btn-danger" />
</form>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Email
            </th>
            <th>
                Numer
            </th>
            <th>
                Imię nazwisko
            </th>
            <th>
                Temat
            </th>
            @*<th>
                    Treść
                </th>*@
            <th>
                IP
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageSubject)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MessageContent)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>


            </tr>
        }
    </tbody>
</table>
