@page
@model RezerwacjaSal.Pages.Messages.ListModel

@{
    ViewData["Title"] = "HiddenList";
}

<h3>Lista wiadomości</h3>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].MessageSubject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].MessageContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].IP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Date)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].ApplicationUser)
            </th>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Message)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                    </td>

                </tr>
        }
    </tbody>
</table>
