@page

@model RezerwacjaSal.Pages.Departments.IndexModel

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h3>Dostępność sal</h3>
<h4>Wybierz wydział</h4>
<hr />
<table class="table table-striped table-hover ">
    <thead>
        <tr class="info">
            <th>
                Nazwa
            </th>
            <th>
                Administrator
            </th>
            @if (User.IsInRole("administrator"))
            {
                <th>
                    Zarządzanie
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-page="/Buildings/Index" asp-route-departmentid="0" style="color:#000">Wszystkie</a>
            </td>
            <td></td>

            @if (User.IsInRole("administrator"))
            {
                <td></td>
            }
        </tr>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    <a asp-page="/Buildings/Index" asp-route-departmentid="@item.DepartmentID">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-page="/AppUsers/Details" data-toggle="tooltip" title="Kliknij aby zobaczyć osobę"
                       asp-route-id="@Model.AppUsers.Where(p => p.Number == item.Administrator).Select(p=>p.Id).FirstOrDefault()">
                        @Model.AppUsers.Where(p => p.Number == item.Administrator).Select(p => p.FirstName).FirstOrDefault()
                        &shy;
                        @Model.AppUsers.Where(p => p.Number == item.Administrator).Select(p => p.LastName).FirstOrDefault()
                    </a>
                </td>
                @if (User.IsInRole("administrator"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-departmentid="@item.DepartmentID">Edytuj</a> |
                        @*<a asp-page="./Details" asp-route-departmentid="@item.DepartmentID">Szczegóły</a> |*@
                        <a asp-page="./Delete" asp-route-departmentid="@item.DepartmentID">Usuń</a>
                    </td>
                }
            </tr>
        }
        <tr class="active">
            <td></td>
            <td></td>
            @if (User.IsInRole("administrator"))
            {
                <td>
                    <a class="btn btn-default btn-primary" asp-page="./Create">Dodaj nowy wydział</a>
                </td>
            }
        </tr>
    </tbody>
</table>

