@page
@model RezerwacjaSal.Pages.Buildings.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<h3>Szczegóły</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building.Name)
        </dd>
        <dt>
            Adres:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building.Address)
        </dd>
        <dt>
            Wydział:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building.Department.Name)
        </dd>

    </dl>
</div>
@*Mapy bing*@
@*@{

        var link = "https://www.bing.com/maps/embed?h=400&w=500&cp=" + Model.MapN + "~" + Model.MapE + "&lvl=" + Model.MapZoom + "&typ=d&sty=h&src=SHELL&FORM=MBEDV8";
        var link2 = "https://www.bing.com/maps?cp=" + Model.MapN + "~" + Model.MapE + "&amp;sty=h&amp;lvl=19&amp;FORM=MBEDLD";
    }
    <div>
        <iframe width="500" height="400" frameborder="0" src="@link" scrolling="no"></iframe>
        <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
            <a id="largeMapLink" target="_blank" href="@link2">Wyświetl większą mapę</a>
        </div>
    </div>
    <p></p>*@

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div id="map"></div>
<script>
    function initMap() {
        var myLatLng = { lat: @Model.MapN, lng: @Model.MapE };

        // Create a map object and specify the DOM element
        // for display.
        var map = new google.maps.Map(document.getElementById('map'),
            {
                center: myLatLng,
                zoom: @Model.MapZoom
            });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
            map: map,
            position: myLatLng,
            title: 'Budynek - @Model.Building.Name \nAdres - @Model.Building.Address'
        });
    }

</script>
<script src=@Environment.GetEnvironmentVariable("GoogleAPIkey");
        async defer></script>
<p></p>


<div>
    <a class="btn btn-default" asp-page="./Index" asp-route-departmentid="@Model.DepartmentIdRoute">Lista budynków</a>
    @if (User.IsInRole("administrator"))
    {
        <a class="btn btn-default btn-primary" asp-page="./Edit" asp-route-buildingid="@Model.Building.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Edytuj</a>
    }
</div>


