@page

@model RezerwacjaSal.Pages.Buildings.IndexModel

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}
<p></p>
<a class="btn btn-secondary" asp-page="/Departments/Index">Wydziały</a>
<hr />
<h3>Dostępność sal</h3>
<h4>Wybierz budynek</h4>
<h5><br /> </h5>
<table class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <th>
                Nazwa budynku
            </th>
            <th>
                Adres
            </th>
            <th>
                Wydział
            </th>
            @if (User.IsInRole("administrator"))
            {
                <th>
                    Zarządzanie
                </th>
            }
            @if (User.IsInRole("użytkownik"))
            {
                <th>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Building)
        {
            <tr>
                <td>
                    <a asp-page="/Reservations/Index" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-page="/Buildings/Index" data-toggle="tooltip" title="Kliknij aby zawęzić do tego wydziału" asp-route-departmentid="@item.DepartmentID">
                        @Model.Department.Where(p => p.DepartmentID == item.DepartmentID).Select(p => p.Name).FirstOrDefault()
                    </a>
                </td>

                @if (User.IsInRole("administrator"))
                {
                    <td>
                        <a asp-page="/Rooms/Index" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Pokoje</a> |
                        <a asp-page="./Details" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Szczegóły</a> |
                        <a asp-page="./Edit" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Edytuj</a> |
                        <a asp-page="./Delete" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Usuń</a>

                    </td>
                }
                @if (User.IsInRole("użytkownik"))
                {
                    <td>
                        <a asp-page="/Rooms/Index" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Pokoje</a> |
                        <a asp-page="./Details" asp-route-buildingid="@item.BuildingID" asp-route-departmentid="@Model.DepartmentIdRoute">Szczegóły</a>
                    </td>
                }
            </tr>
        }
        @if (User.IsInRole("administrator"))
        {
            <tr class="active">
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <a class="btn btn-default btn-primary" asp-page="Create" asp-route-departmentid="@Model.DepartmentIdRoute">Dodaj nowy budynek</a>
                </td>
            </tr>
        }
        @if (User.IsInRole("użytkownik"))
        {
            <tr class="active">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>




